<div ng-show="ctrl2.results.length" data-ng-controller="CustomAppCtrl as ctrl2">
    <p align="center"><a href="#" ng-hide="(ctrl2.currentPage == 1)" ng-click="ctrl2.previous()" class="btn btn-default glyphicon glyphicon-chevron-left" role="button"></a>&nbsp;{{ctrl2.currentPage}} of {{ctrl2.totalPages}}&nbsp;<a href="#" ng-hide="(ctrl2.currentPage == ctrl2.totalPages)" ng-click="ctrl2.next()" class="btn btn-default glyphicon glyphicon-chevron-right" role="button"></a></p>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-4"  ng-repeat="item in ctrl2.results">
            <div class="thumbnail">
                <img src="thumbnails/{{item.app_icon}}" height="450" width="200" class="img-thumbnail img-responsive">
                <div class="caption">
                    <h3 align="center">{{item.app_name}}</h3>
                    <p align="center">Developer : {{item.author_name}}</p>
                    <p align="center">Version : {{item.version}}</p>
                </div>
            </div>
        </div>
    </div>
    <p align="center"><a href="#" ng-hide="(ctrl2.currentPage == 1)" ng-click="ctrl2.previous()" class="btn btn-default glyphicon glyphicon-chevron-left" role="button"></a>&nbsp;{{ctrl2.currentPage}} of {{ctrl2.totalPages}}&nbsp;<a href="#" ng-hide="(ctrl2.currentPage == ctrl2.totalPages)" ng-click="ctrl2.next()" class="btn btn-default glyphicon glyphicon-chevron-right" role="button"></a></p>
</div>