<div class="container">

    <div class="page-header text-center" ng-controller="LogoutCtrl as ctrl">
        <h1><span class="oi oi-person"></span> My Account</h1>
        <button type="button" ng-click="ctrl.logout()" class="btn btn-default btn-lg">
            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
        </button>

    </div>

    <div class="row">
      <div class="col-sm-6" data-ng-controller="ProfileCtrl as profileCtrl">
            <div class="well">
                <h3><span class="oi oi-person"></span> Local</h3>
                <p>
                    <strong>id</strong>: {{profileCtrl.localProfile.id}}<br>
                    <strong>email</strong>: {{profileCtrl.localProfile.email}}<br>
                    <strong>password</strong>: This is a secret
                </p>

            </div>
              <div class="well" ng-repeat="item in profileCtrl.sociallogins">
                  <h3><span class="fa fa-{{item.providerType}}"></span> {{item.providerType}}</h3>
                  <p>
                      <strong>Provider Id</strong>: {{item.providerId}}<br>
                      <strong>UserId</strong>: {{item.userId}}<br>
                      <strong>Name</strong>: {{item.displayName}}<br>
                  </p>

              </div>

        </div>

    </div>

</div>