.navbar-brand {
    background: url(../img/logo.png) center / contain no-repeat;
    width: 85px;
    height: 50px;
}

.btn-wechat
{
    background-color: #98d11c;
}
.btn-wechat:hover
{
    background-color: #afe53b;
}